[graph]
all-features = true
targets = [
  "x86_64-unknown-linux-gnu",
  "aarch64-unknown-linux-gnu",
  "riscv64-unknown-linux-gnu",
]

[advisories]
version = 2
yanked = "deny"

[licenses]
version = 2
confidence-threshold = 0.8
allow = [
  "MIT",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "ISC",
  "MPL-2.0",
  "Unicode-3.0",
  "Zlib",
  "CC0-1.0",
  "OFL-1.1",
  "Ubuntu-font-1.0",
  "CDLA-Permissive-2.0",
  "Unlicense",
]

[sources]
unknown-registry = "deny"
allow-git = [
  "https://github.com/Traverse-Research/gpu-allocator",
]
