# .github/workflows/rust-doc.yml
name: Build docs for Rust app

on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string

jobs:
  build-app:
    name: Generate docs
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Run doc gen
        run: |
          cargo doc
