name: Rust workflow on Ubuntu-24.04-arm

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    uses: ./.github/workflows/rust_build.yml
    with:
      runner: ubuntu-24.04-arm
      platform: linux/arm64
      arch: arm64

  test:
    uses: ./.github/workflows/rust_test.yml
    with:
      runner: ubuntu-24.04-arm
      platform: linux/arm64
      arch: arm64

  package:
    uses: ./.github/workflows/rust_package.yml
    with:
      runner: ubuntu-24.04-arm
      binary_name: kataglyphis-rustprojecttemplate
      platform: linux/arm64
      arch: arm64

